```{=html}
<div class="people-widget justify-content-evenly">
  <% for (const item of items) { %>
  <div class="people-person">
    <% if (item.image) {%>
    <img loading="lazy" class="avatar avatar-circle" src="<%- item.image %>" />
    <%}%>
    <div class="portrait-title">
      <h4><%= item.title %></h4>
      <% if (item.role) { %>
      <h5><%= item.role %></h5>
      <% } %>
      <% for (const link of item.links || []) { %>
      <a class="network-icon" href="<%- link.href %>">
        <i class="<%- link.icon %>"></i>
      </a>
      <% } %>
      <% for (const organization of item.organizations || []) { %>
      <h6>
        <i>
          <%= organization.role %> 
          <% if (organization.name) { %> at 
            <% if (organization.href) { %> <a href="<%= organization.href %>"> <% } %>
              <%= organization.name %>
            <% if (organization.href) { %> </a> <% } %>
          <% } %>
        </i>
      </h6>
      <% } %> 
    </div>
  </div>
  <% } %>
</div>
```
